<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>item_page</title>
</head>
<body>
    <header><a href="/">/Home/</a> <a href="/items">Items/</a> <a href="/about">About/</a></header>
    
    <h2> Имя: {{item.name}}</h2>
    {% if item.quantity == 0 %}
        Количество: товар отсутствует."
    {% else %}
        <p>Количество: {{item.quantity }}</p>
    {% endif %}
    
    
    <p> <a href="/items"> Назад к списку товара</a></p>
    
        
    
</body>
</html>